In [2]:
import pandas as pd
import numpy as np
movie=pd.read_excel("movie.xlsx",index_col=0)
movie

     movie_name ratings
s.no
1             a  3 star
2             b  5 star
3             c  4 star
4             d  4 star
5             e  2 star

In [6]:
movie['ratings'] = movie['ratings'].astype('category')

In [7]:
movie["ratings_new"]=movie["ratings"].cat.codes

In [8]:
movie

     movie_name ratings  ratings_new
s.no
1             a  3 star            1
2             b  5 star            3
3             c  4 star            2
4             d  4 star            2
5             e  2 star            0

In [11]:
from sklearn.preprocessing import OrdinalEncoder
encoder = OrdinalEncoder()
movie['encode'] = encoder.fit_transform(movie[['ratings']])
print(movie)

     movie_name ratings  ratings_new  encode
s.no
1             a  3 star            1     1.0
2             b  5 star            3     3.0
3             c  4 star            2     2.0
4             d  4 star            2     2.0
5             e  2 star            0     0.0