In [18]:
import pandas as pd
import numpy as np
df=pd.read_csv("Stress.csv")
df

   s.no name   age  traditional educational approach  stress of exam
0     1    a  17.0                               1.0             1.0
1     2    b  23.0                               0.0             1.0
2     3    c  23.0                               1.0             1.0
3     4    d  34.0                               1.0            11.0
4     5    e  45.0                               1.0             0.0
5     6    f   NaN                               1.0             0.0
6     7    g   NaN                               NaN             NaN
7     8  NaN   NaN                               1.0             1.0

In [19]:
m=df["age"].mean()
m

28.4

In [20]:
df["age"].fillna(m)

0    17.0
1    23.0
2    23.0
3    34.0
4    45.0
5    28.4
6    28.4
7    28.4
Name: age, dtype: float64

In [21]:
df["age"].fillna(df["age"].median())

0    17.0
1    23.0
2    23.0
3    34.0
4    45.0
5    23.0
6    23.0
7    23.0
Name: age, dtype: float64

In [22]:
df["age"].fillna(value=100)

0     17.0
1     23.0
2     23.0
3     34.0
4     45.0
5    100.0
6    100.0
7    100.0
Name: age, dtype: float64

In [25]:
df["age"].fillna(df["age"].mode()[0])

0    17.0
1    23.0
2    23.0
3    34.0
4    45.0
5    23.0
6    23.0
7    23.0
Name: age, dtype: float64

In [24]:
df.fillna(value="unknown")

   s.no     name      age traditional educational approach stress of exam
0     1        a     17.0                              1.0            1.0
1     2        b     23.0                              0.0            1.0
2     3        c     23.0                              1.0            1.0
3     4        d     34.0                              1.0           11.0
4     5        e     45.0                              1.0            0.0
5     6        f  unknown                              1.0            0.0
6     7        g  unknown                          unknown        unknown
7     8  unknown  unknown                              1.0            1.0